body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    background-color: black;
    height: 60px;

}
.logo {
    width: 140px;
    height: 70px;
}
.title{
    font-style: italic;
    vertical-align: middle;
}
.button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f26726;
    margin: auto 0;
    vertical-align: middle;
}
.button:hover{
    background-color: white;
}